bin/
build/
dist/
nbproject/

# Compiled class file
*.class

# Log file
*.log

# Package files

*.zip
*.rar
*.tar.gz
*.class

*.xml
*.mf


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.class
build/classes/employee_database/NewJFrame$8.class
*.class
*.form
build/classes/employee_database/NewJFrame$4.class
build/classes/employee_database/NewJFrame$1.class